.footer {
    border-top: 1px solid;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding: 0.5rem 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9375rem;
}

/*.link {*/
/*    text-decoration: none;*/
/*}*/

/*.link:hover,*/
/*.link:focus-visible {*/
/*    text-decoration: underline;*/
/*    outline: none;*/
/*}*/